# Python
__pycache__/
*.py[cod]
*.log
*.pot
*.pyc
*.pyo

# Django
.env  # contains secrets like DB credentials

# Environments
env/
venv/
myenv*/
*.egg-info/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
